.add-card-div{
    margin-top: 40px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.add-card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-card-bottom div{
   width: 35%;
}
.input-field{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray);
}
.input-field input{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    padding: 2px 8px;
}
.input-field input:focus{
    outline: none;
}
.add-card-btn{
    width: 100%;
    font-size: 20px;
}
.card-name{
    min-height: 30px;
    max-height: 30px;
    overflow-x: hidden;
}
.date-input-div{
    display: flex;
    align-items: center;
}
.date-input-div input{
    min-width: 40px;
    max-width: 40px;
}
.date-input-div input::placeholder{
   font-size: 12px;
}