.register-div{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
}
.back-div img{
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}
.back-div{
    display: flex;
    align-items: center;
}
.back-div p{
    width: 100%;
    text-align: center;
    transform: translateX(-20px);
    font-size: 1.5em;
}