.individual-card-div{
    margin-top: 40px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.delete-card-btn{
    background-color: transparent;
    width: 100%;
    color: red;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
}