.send-to-div{
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.send-to-div input{
    background-color: transparent;
    border: 0px;
    padding: 8px;
    font-size: 20px;
}
.send-to-div input:focus{
    box-shadow: 0px 0px 0px 3px var(--primary-blue);
    outline: none;
    border-radius: 5px;
}