@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
    overflow: hidden;
    width: 100%;
  }
:root{
    --dark-blue: rgba(22, 22, 34, 1);
    --primary-blue: rgb(0, 102, 255);
    --gray: rgba(112, 112, 112, 1);
    --dark-gray: #1E1E2D;
}
body{
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
}
#root{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.App{
    width: 100%;
    max-width: 440px;
    height: fit-content;
}
.padding{
    padding: 0px 20px;
}
.flex{
    display: flex;
}
.big-text{
    font-size: 32px;
}
.small-text{
    font-size: 14px;
    color: var(--gray);
}
.small-text-button{
    font-size: 14px;
    color: var(--primary-blue);
    cursor: pointer;
}
.primary-btn{
    color: white;
    background-color: var(--primary-blue);
    border: 0px;
    padding: 16px 0px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 57px;
}
.sign-in-input{
    background-color: transparent;
    border: 0px;
    width: 100%;
    padding: 4px;
    font-size: 16px;
}
.border-bottom{
    border-bottom: 1px solid var(--gray);
}
.sign-in-input:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-blue);
  }